@use "../../sass/vars.scss" as *;

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    background: $nav-background-color;

    &__title {
        font-family: $title-font;
        font-size: 3rem;
        background: $secondary-nav-background-color;
        padding: 10px;
        border-radius: 20px;
        color: $title-color;
    }
    &__filters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $secondary-nav-background-color;
        padding: 10px;
        padding-bottom: 15px;
        border-radius: 10px;
        h1 {
            font-family: $secondary-title-font;
            color: $title-color;
            font-size: 20px;
        }
    }
}



.search-container {
    border: 2px solid black;
    background: red;
    z-index: 100;
    width: 95%;
    margin-left: 1%;
    margin-right: 1%;
    position: absolute;
    padding: 20px;
}