
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}



.test {
    border: 2px solid black;
    background: red;
    z-index: 100;
    width: 95%;
    margin-left: 1%;
    margin-right: 1%;
    position: absolute;
    padding: 20px;
}