@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alumni+Sans+Pinstripe:ital@1&family=Amatic+SC&display=swap');


$title-font: 'Rubik Marker Hatch', cursive;
$secondary-title-font: 'Rubik Maze', cursive;;
$color-black: rgba(33, 33, 33, 0.77);
$nav-background-color: rgb(77, 77, 77);
$secondary-nav-background-color: rgb(34, 33, 33);
$title-color: rgb(255, 255, 255);
$input-background: rgba(201, 189, 189, 0.398);

$card-title-font: 'Alfa Slab One', cursive;
$card-sub-font: 'Alumni Sans Pinstripe', sans-serif;
$card-description-font: 'Amatic SC', cursive;
$card-background: rgb(19, 18, 18);

$home-background: rgb(31, 30, 30);