@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');


$title-font: 'Rubik Marker Hatch', cursive;
$color-black: rgba(33, 33, 33, 0.77);
$nav-background-color: rgb(77, 77, 77);
$title-color: rgb(255, 255, 255);
$input-background: rgba(201, 189, 189, 0.398);