@use "../../sass/vars" as *;

.beer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-black;
    width: 20%;
    height: 100%;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: $card-background;

    &__description {
        font-size: 1rem;
        font-weight: bold;
        font-family: $card-description-font;
        color: $title-color;
    }
    &__abv, &__ph, &__first {
        font-family: $title-font;
        color: $title-color;
    }
    h1 {
        font-family: $card-title-font;
        font-size: 1.5rem;
        color: $title-color;
    }

    h4 {
        font-size: 1rem;
        font-family: $card-sub-font;
        color: $title-color;
    }

    img {
        width: 40%;
        background: rgb(173, 171, 171);
        border-radius: 10px;
    }
}